version: 2
updates:
  - package-ecosystem: "gomod"
    directories:
      - "**/*"
    schedule:
      interval: "daily"
    groups:
      patch-updates:
        dependency-type: "development"
        update-types:
          - "patch"
      minor-updates:
        dependency-type: "development"
        update-types:
          - "minor"
    open-pull-requests-limit: 50

  - package-ecosystem: "docker"
    directories:
      - "**/*"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 50

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 50
